<header>
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse'
                data-target='#navbar_collapse' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        {{link-to 'Reading' 'index' class='navbar-brand'}}
      </div>

      <div class='collapse navbar-collapse' id='navbar_collapse'>
        <ul class='nav navbar-nav'>
          <li>{{link-to 'Home' 'index'}}</li>
          <li>{{link-to 'Books' 'books'}}</li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          {{# if session.isAuthenticated}}
            <li>{{link-to 'Log Out' 'session.destroy'}}</li>
          {{else}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">Sign up/in <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{link-to 'Sign In' 'session.new'}}</li>
                <li>{{link-to 'Sign Up' 'users.new'}}</li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
