<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_info(:sub_title), root_path, {class: 'navbar-brand'} %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
        <li><%= link_to t('home.index'), home_path %></li>

        <li><%= link_to t('cms.articles.index'), cms_articles_path %></li>
        <li><%= link_to t('cms.tags.index'), cms_tags_path %></li>
        <li><%= link_to t('epub.books.index'), epub_books_path %></li>

        <!--<li><%= link_to t('home.dashboard'), admin_root_path, {target: :_blank} %></li>-->

        <li><%= link_to t('home.help'), home_help_path %></li>
        <li><%= link_to t('home.faq'), home_faq_path %></li>
        <li><%= link_to t('home.about'), home_about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'shared/switch_lang' %>
      </ul>
    </div>
  </div>
</nav>