<% @title = @doc.css('docTitle text').first.content %>
<div class="row">
  <div class="col-md-9">
    <h3>
      <%= @title %>
      <% if policy(@page.book).destroy? %>
          <%= link_to t('buttons.remove'), book_path(@page.book), method: :delete, data: {confirm: t('home.are_you_sure')} %>
      <% end %>
    </h3>
    <hr/>
    <div class="book-content">
      <ol>
        <% @doc.css('navPoint').each do |item| %>
            <li>
              <%= link_to item.css('navLabel text').first.content,
                          File::join(page_path(book_id: @page.book_id, name: @page.entry_name),
                                     '..',
                                     item.css('content').first.attribute('src').value
                          ) %>
            </li>
        <% end %>
      </ol>
    </div>
    <br/>
    <div class="row pull-right">
      <%= render 'shared/rate_box', resource: @page.book %>
    </div>
  </div>
  <div class="col-md-3">
    <%= render 'reading/shared/book_bar', book: @page.book %>
  </div>
</div>