<!DOCTYPE html>
<html>
<head>
  <title><%= @title %>-<%= site_info :sub_title %>-<%= site_info :title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/header' %>

<div class="container">
  <%= render 'shared/devise_notices' %>
  <br/>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>
</body>
</html>
